<div
        class="d-flex w-100 align-items-center py-3 px-0 flex-wrap flex-md-nowrap"
>
    <div
            class="rounded-circle overflow-hidden d-inline-block mx-auto mx-sm-0 mb-3 mb-sm-0"
    >
        <img
                src="{{ image_style_url(data.img_uri, 'board_member') }}"
                width="60"
                class="rounded"
                alt="..."
        />
    </div>
    <h6
            class="text-center text-sm-left w-100 w-sm-auto text-uppercase line-height-1-2 font-size-5 font-size-md-4 font-size-xl-5 mb-0 mx-2 mx-xl-3"
    >
                            <span
                                    class="text-decoration-none d-inline-block text-success"
                            >
                              {{ data.first_name }}
                              <span class="font-weight-bold">{{ data.last_name }}</span>
                            </span>
        <span
                class="d-flex  font-size-3 font-weight-bold text-primary mt-1 justify-content-center justify-content-sm-start"
        >
                              {{ content.field_position }}
                            </span>
    </h6>
</div>
<p class="text-grey font-size-2 mt-2">
    {{ content.field_description }}
</p>
<p class="font-size-3">
    {{ content.field_body }}
</p>
