{% if infowindow is not empty %}
    {% set showInfowindow = "true" %}
{% endif %}
<section class="google-map-field pb-5">
    {% if showInfowindow %}
        <div class="map-infowindow" style="display:none;">{{ infowindow }}</div>
    {% endif %}
    <div class="map-container" style="width:{{ width }};height:{{ height }};" data-controls-show="{{ show_controls }}" data-marker-show="{{ show_marker }}" data-type="{{ type }}" data-lat="{{ lat }}" data-lon="{{ lon }}" data-zoom="{{ zoom }}" data-infowindow="{{ showInfowindow }}"></div>
</section>
