{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<nav class="navbar navbar-expand-lg navbar-light mx-n2 p-0">
    <div class="collapse navbar-collapse text-center text-lg-left"
      id="navbarMenu"
    >
    <a class="navbar-brand d-none line-height-1-2" href="index.html">
            <i class="icon-girchi-logo navbar-brand-lg ml-3 mr-4 font-size-8"></i>
          </a>
{{ menus.menu_links(items, attributes, 0) }}
        {% macro menu_links(items, attributes, menu_level) %}
            {% import _self as menus %}
            {% if items %}
                    {# no UL for level1 (see page.tpl) #}
            <ul class="navbar-nav text-uppercase border-top border-bottom border-top-lg-0 border-bottom-lg-0 mx-2 py-2 py-lg-0 m-lg-0 text-center text-lg-left">
                {% for item in items %}
                    <li class = "nav-item {{ item.below ? 'is-dropdown' : ''}} {{ item.in_active_trail ? 'active' : ''}}">
                        <a href="{{ item.url }}" class="nav-link py-3 py-lg-4 font-weight-bold">{{ item.title }}
                            {% if item.below %}
                                <i class="icon-arrow-down-sign-to-navigate font-size-1 text-dark-silver mx-2"></i>
                            {% endif %}
                        </a>

                        {% if item.below %}
                            <ul class="nav-dropdown py-2">
                                    {% for below_item in item.below %}
                                        <li class="nav-dropdown-item {{ below_item.in_active_trail ? 'active' : ''}}">
                                            <a
                                                class="nav-dropdown-link py-2 px-4 font-weight-bold"
                                                href="{{ below_item.url }}"
                                                >{{ below_item.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endmacro %}
    </div>
    <form class="navbar-search mt-3 mt-lg-0  ml-auto mr-2 text-right border-bottom border-bottom-lg-0 pb-3 pb-lg-0" action="{{ path('view.search.page_1') }}" type="GET">
        <div class="navbar-search-input bg-white rounded-oval pr-4 border-secondary border overflow-hidden w-100 w-lg-200 max-w-lg-200 w-lg-500" style="display: block;">
            <input type="text" name="search_text" placeholder="{{ 'Search...' | t  }}" class="border-0 py-1 m-1 px-3 outline-none font-size-3 text-success w-100">
        </div>
        <button class="navbar-search-btn border-0 p-0 outline-none bg-transparent line-height-0-9 m-2 p-1 text-dark-silver">
            <i class="icon-search"></i>
        </button>
    </form>
</nav>
