{% set is_video = content.field_is_video.0['#markup'] %}
<div class="col-sm-6 col-md-4">
    <!-- Start of media -->
    <div class="media media-column mb-4">
        <div class="media-thumb w-100 rounded overflow-hidden">
            <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="media-thumb-link">
                {% if is_video  == 'On' %}
                    <i class="icon-play-button media-play"></i>
                {% endif %}
                <img
                        src="{{ image_style_url(node.field_image.entity.fileuri ,'article_teaser') }}"
                        class="w-100"
                        alt="..."
                />
            </a>
            {% if is_video  == 'On' %}
                {#<span class="media-date font-size-1">2:41</span>#}
            {% endif %}
        </div>
        <div class="media-body">
            <h6 class="mt-2 font-size-base line-height-1-3">
                <a
                        href="{{ path('entity.node.canonical', {'node': node.id}) }}"
                        class="text-decoration-none d-block font-weight-bold">
                    {{ label }}
                </a>
            </h6>
            <span
                    class="text-grey font-size-1 d-inline-flex align-items-center">
                          <i class="icon-clock-circular-outline mr-1"></i>
                          {{ node.createdtime|format_date('omedia_short') }} </span>
            {% for category in  content.field_category %}
                {% if category['#title'] %}

                    <a
                            href="#"
                            class="font-size-1 text-grey font-weight-bold border-dark-silver pl-2 ml-1 border-left"
                    >{{category}}</a>
                {% endif %}
            {% endfor %}
            <a
                    href="#"
                    class="font-size-1 text-grey font-weight-bold border-dark-silver pl-2 ml-1 border-left"
            >{{ content.field_category.0['#title'] }}</a>
        </div>
    </div>
    <!-- End of media -->
</div>
