{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes).setAttribute('data-url', node_url) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ url }}
      {{ metadata }}
      {{ date }}
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>
    {{ content }}
  </div>

</article>
