<!-- Start of footer -->
<footer>
    <!-- Start of footer 1st row -->
    <div class="bg-white">
        <div class="container">
            <nav class="navbar py-3 flex-column flex-lg-row">
                <a
                        class="navbar-brand d-flex align-items-center text-uppercase"
                        href="{{ url("<front>") }}"
                >
                    <i
                            class="icon-girchi-logo-alt navbar-brand-sm text-success mr-3"
                    ></i>
                    <span class="text-success font-weight-bold font-size-3"
                    >{{ "Girchi" | t }}</span
                    >
                    <span class="text-warning  border-left py-1 ml-3 pl-3 font-size-3"
                    >{{ "More Freedom"| t }}</span
                    >
                </a>
                <ul
                        class="navbar-list list-unstyled d-inline-flex font-size-3 ml-lg-auto mr-lg-3 mb-0"
                >
                    {% if footer_config.phone %}
                    <li class="navbar-list-item">
                        <i class="icon-smartphone"></i>
                        <a href="tel:{{ footer_config.phone }}">{{ footer_config.phone }}</a>
                    </li>
                    {% endif %}
                    {% if footer_config.email %}
                    <li class="navbar-list-item">
                        <i class="icon-envelope"></i>
                        <a href="mailto:{{ footer_config.email }}" class="text-uppercase"
                        >{{ footer_config.email }}</a
                        >
                    </li>
                    {% endif %}
                </ul>

                <ul
                        class="navbar-list list-unstyled d-inline-flex font-size-3 mb-0"
                >
                    {% if footer_config.facebook %}
                    <li class="navbar-list-item">
                        <a href="{{ footer_config.facebook  }}" target="_blank" class="text-decoration-none">
                            <i class="icon-social-facebook-circular-button"></i
                            ></a>
                    </li>
                    {% endif %}
                    {% if footer_config.twitter %}
                    <li class="navbar-list-item">
                        <a href="{{ footer_config.twitter }}" target="_blank" class="text-decoration-none">
                            <i class="icon-social-twitter-circular-button"></i
                            ></a>
                    </li>
                    {% endif %}
                    {% if footer_config.instagram %}
                        <li class="navbar-list-item">
                            <a href="{{ footer_config.instagram }}" target="_blank" class="text-decoration-none">
                                <i class="icon-social-twitter-circular-button"></i
                                ></a>
                        </li>
                    {% endif %}
                    {% if footer_config.youtube %}
                    <li class="navbar-list-item">
                        <a href="{{ footer_config.youtube }}" target="_blank" class="text-decoration-none"
                        ><i class="icon-social-youtube-circular-button"></i
                            ></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        {{ page.footer }}
        <div class="py-4">
            <p
                    class="text-grey font-size-1 text-uppercase text-center text-lg-left mb-0"
            >
                © {{ "all rights reserved. Girchi"|t }} {{ "now"|date("Y") }}.
            </p>
        </div>
    </div>
    <!-- End of footer 1st row -->
</footer>
<!-- End of footer -->
