<div class="card overflow-hidden mt-3 mt-xl-4">
    <div
            class="card-header font-size-2 text-uppercase d-flex px-3 px-xl-4 font-weight-bold text-grey"
    >
        {{ "Tags"|t }}
    </div>
    <div class="card-body px-3 px-xl-4 py-2 py-xl-34">
        {% if tags is not empty %}
        <ul class="list-unstyled">
            {% for tag in tags %}
    {#        {{ print_entity('taxonomy_term', tag.tid , 'teaser' )  }}#}
                <li>
                      <a
                      href="{{ path('view.news.page_1')}}?tag={{ tag.tid }}"
                      class="text-light-green d-block font-size-2 font-weight-bold text-decoration-none"
                      ># {{ tag.name }}</a
                    >
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
